<html lang="en">

    <%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

        <!--Courses Description-->
        <section class="">
            <div class="container">
                <h3>
                    Courses:
                </h3>
                <div class="courses-list">
                </div>
            </div>
        </section>
        <!--Courses List-->
        <section class="">
            <div class="container">
                <div class="courseSort-dropdown">
                    <!--<label class="text-dark" for="sortBy">Sort by:</label>
                    <!-- <button onclick=printSomething() class="btn btn-outline-secondary" type="button" id="teacherFilter">
                        Teacher
                    </button>
                    <button onclick=printSomething() class="btn btn-outline-secondary" type="button" id="subjectAreaFilter">
                        Subject Area
                    </button>
                    <button onclick=printSomething() class="btn btn-outline-secondary" type="button" id="creditsFilter">
                        Credits
                    </button> -->
                    <% if (courses.length > 0) { %>
                        <% courses.forEach(course => { %>
                            <a class="single" href="/courses/<%=course._id %>">
                                <h3 class="title"><%= course.name %></h3>
                                <p class="suject"><%= course.subject %></p>
            
                            </a>
                
                            
                
                        <% }) %>
                    <% } %>
                </div>
                <!-- <div id="courseList-div">Courses List</div>
                </div> -->
        </section>

        <%- include('./partials/footer.ejs') %>

    </body>

</html>
