<html lang="en">
  
  <%- include('./partials/head.ejs') %>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="details_content">
      <h2><%= course.name %></h2>

      <div class="content">
        <p>Teacher: <%= course.teacher %></p>
        <p>Subject: <%= course.subject %></p>
        <p>Description: <%= course.description %></p>
        <p>Credits: <%= course.numberOfCredits %></p>
        <p>Start Date: <%= course.startDate.toDateString() %></p>
        <p>End Date: <%= course.endDate.toDateString() %></p>
        <p>Creator: <%= course.creator %></p>
        
        <% if (user.email === course.creator) { %>
          <p>
            <!-- Delete Link -->
            <a class="delete" data-doc="<%= course._id %>">Delete</a>

            <!-- Update Link -->
            <a class="update" href="/courses/<%= course._id %>/edit">Update</a>
          </p>
        <% } else { %>
          <h3>Only the Teacher who created the Course may make any changes to it or delete it</h3>
        <% } %>
        
      </div>

      
    </div>

    <!-- Script for handling delete operation -->
    <script>
        const trashcan = document.querySelector('a.delete');
        trashcan.addEventListener('click', (e) => {
          let text;
          if(confirm("Please Confirm that you want to permanently Delete this Course?") == true) {
            e.preventDefault(); // Prevent default link behavior
            const endpoint = `/courses/${trashcan.dataset.doc}`;

            fetch(endpoint, {
              method: 'DELETE',
            })
            .then((response) => response.json())
            .then(data => {
              if (data.redirect) {
                window.location.href = data.redirect; // Redirect after delete
              }
            })
            .catch(err => console.error('Error:', err));
          } else {
            console.log("Course NOT Deleted");
          }
        });
      
        
    </script>


    <%- include('./partials/footer.ejs') %>

  </body>
</html>